IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_VERSION = 5.10
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 10
TARGETED_DEVICE_FAMILY = 1,2
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 5W2NHWNTW6
APP_GROUP_IDENTIFIER = group.com.rachitmanchanda.yap.beta
PRODUCT_BUNDLE_IDENTIFIER = com.rachitmanchanda.yap.beta
SWIFT_STRICT_CONCURRENCY = complete
CLANG_ENABLE_MODULES = YES
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES
